.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: lightcoral;
}

.food-icons{
  display: inline-block;
  float: right;
}

.app-body{
  background-color: lightblue;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  border: 1px solid black;
  border-radius: 25px;
}

.input{
  background-color: #cbd9dc;
  
}


.footer-div{
  margin-top: 30px;
  margin-bottom: 10px;
}
 
 .input{
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.add-button{
  padding: 5px;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 30px;
  background-color: #b2dcb8;
  
} 
 
.footer-button-clear-all{
  padding: 5px;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 30px;
  background-color: #dcb2bd;
}

.footer-button-clear-selected{
  padding: 5px;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 30px;
  background-color: #dcb2bd;
}

